.logo {
            background-image: url(/logo-black.png);
            background-repeat: no-repeat;
            background-position: relative;
            height:182px;
           width:455px;
    padding-bottom: 68px;
            -webkit-animation-duration: 4s;
            animation-duration: 4s;
         }

/* Safari 4.0 - 8.0 */
@-webkit-keyframes fadeIn {
   0% {opacity: 0;}
    100% {opacity: 1;}
} 

/* Standard syntax */
@keyframes fadeIn {
 0% {opacity: 0;}
    100% {opacity: 1;}
} 
    

.fadeIn {
            -webkit-animation-name: fadeIn;
            animation-name: fadeIn;
         }

.buttonHome {
    position: relative;
    background-color: #4770B7;
    border: none;
    font-size: 14px;
    color: #E2E2E2;
    padding: 5px;
    width: 100px;
    text-align: center;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    text-decoration: none;
    overflow: hidden;
    cursor: pointer;
}

.buttonHome:after {
    content: "";
    background: #1A181A;
    display: block;
    position: absolute;
    padding-top: 300%;
    padding-left: 350%;
    margin-left: -20px !important;
    margin-top: -120%;
    opacity: 0;
    transition: all 0.8s
}

.buttonHome:active:after {
    padding: 0;
    margin: 0;
    opacity: 1;
    transition: 0s
}

.buttonAbout {
    position: relative;
    background-color: #52B270;
    border: none;
    font-size: 14px;
    color: #E2E2E2;
    padding: 5px;
    width: 100px;
    text-align: center;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    text-decoration: none;
    overflow: hidden;
    cursor: pointer;
}

.buttonAbout:after {
    content: "";
    background: #1A181A;
    display: block;
    position: absolute;
    padding-top: 300%;
    padding-left: 350%;
    margin-left: -20px !important;
    margin-top: -120%;
    opacity: 0;
    transition: all 0.8s
}

.buttonAbout:active:after {
    padding: 0;
    margin: 0;
    opacity: 1;
    transition: 0s
}

.buttonSpecs {
    position: relative;
     background-color: #E8B024;
    border: none;
    font-size: 14px;
    color: #E2E2E2;
    padding: 5px;
    width: 100px;
    text-align: center;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    text-decoration: none;
    overflow: hidden;
    cursor: pointer;
}

.buttonSpecs:after {
    content: "";
    background: #1A181A;
    display: block;
    position: absolute;
    padding-top: 300%;
    padding-left: 350%;
    margin-left: -20px !important;
    margin-top: -120%;
    opacity: 0;
    transition: all 0.8s
}

.buttonSpecs:active:after {
    padding: 0;
    margin: 0;
    opacity: 1;
    transition: 0s
}

.buttonPlan {
    position: relative;
   background-color: #E52B3F;
    border: none;
    font-size: 14px;
    color: #E2E2E2;
    padding: 5px;
    width: 100px;
    text-align: center;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    text-decoration: none;
    overflow: hidden;
    cursor: pointer;
}

.buttonPlan:after {
    content: "";
    background: #1A181A;
    display: block;
    position: absolute;
    padding-top: 300%;
    padding-left: 350%;
    margin-left: -20px !important;
    margin-top: -120%;
    opacity: 0;
    transition: all 0.8s
}

.buttonPlan:active:after {
    padding: 0;
    margin: 0;
    opacity: 1;
    transition: 0s
}

.buttonTeam {
    position: relative;
     background-color: #E8B024;
    border: none;
    font-size: 14px;
    color: #E2E2E2;
    padding: 5px;
    width: 100px;
    text-align: center;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    text-decoration: none;
    overflow: hidden;
    cursor: pointer;
}

.buttonTeam:after {
    content: "";
    background: #1A181A;
    display: block;
    position: absolute;
    padding-top: 300%;
    padding-left: 350%;
    margin-left: -20px !important;
    margin-top: -120%;
    opacity: 0;
    transition: all 0.8s
}

.buttonTeam:active:after {
    padding: 0;
    margin: 0;
    opacity: 1;
    transition: 0s
}

.buttonBranding {
    position: relative;
     background-color: #4770B7;
    border: none;
    font-size: 14px;
    color: #E2E2E2;
    padding: 5px;
    width: 100px;
    text-align: center;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    text-decoration: none;
    overflow: hidden;
    cursor: pointer;
}

.buttonBranding:after {
    content: "";
    background: #1A181A;
    display: block;
    position: absolute;
    padding-top: 300%;
    padding-left: 350%;
    margin-left: -20px !important;
    margin-top: -120%;
    opacity: 0;
    transition: all 0.8s
}

.buttonBranding:active:after {
    padding: 0;
    margin: 0;
    opacity: 1;
    transition: 0s
}