<!DOCTYPE hmtl>
<html lang="en">
<!--<link rel="stylesheet" type="text/css" href="helloworld.css" /> -->

<head>

    <meta charset="utf-8" />
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="css/agency.css" rel="stylesheet">
    <link rel="stylesheet" href="Site.css">
    <title>Lootbox Clicker</title>

    <!-- bind interval function -->
    <script type="text/javascript" src="./scripts/main.js"></script>

    <!-- libraries and "libraries" -->
    <script type="text/javascript" src="./scripts/base_js_additions.js"></script>
    <script type="text/javascript" src="./scripts/htmlInteraction.js"></script>
    <script type="text/javascript" src="./scripts/p5/p5.js"></script>
    <script type="text/javascript" src="./scripts/p5/p5.dom.js"></script>
    <script type="text/javascript" src="./scripts/p5/p5.play.js"></script>

    <!-- main showrunners -->
    <script type="text/javascript" src="./scripts/lootbox.js"></script>
    <script type="text/javascript" src="./scripts/buttons.js"></script>

    <!-- BUILDINGS -->
    <script type="text/javascript" src="./scripts/business.js"></script>
    <script type="text/javascript" src="./scripts/pirate.js"></script>
    <script type="text/javascript" src="./scripts/cow.js"></script>
    <script type="text/javascript" src="./scripts/farm.js"></script>
    <script type="text/javascript" src="./scripts/marketer.js"></script>
    <script type="text/javascript" src="./scripts/eldergod.js"></script>

    <!--adventures-->
    <script type="text/javascript" src="./scripts/adventure.js"></script>

</head>

<body>
    <div id="mainlogo" class="logo fadeIn"></div>
    <span><a href="./"><button class="buttonHome">Home</button></a></span>
    <span><a href="./game"><button class="buttonGame">Game</button></a></span>
    <span><a href="./about"><button class="buttonAbout">About</button></a></span>
    <span><a href="./messageboard"><button class="buttonMesBoar">Message Board</button></a></span>
    <div id="block" class="split"></div>
    <hr style="border: 2px solid#4770b7;" />
    <div id="block" class="split"></div>
    {% if not user %}
        <a href="/login">Log In</a>
        <a href="/register">Register</a>
    {% else %}  
        <a href="/logout">Log out</a>
    {% endif %}
    <div id="Blam" class="DaGame">
        <span id="lbps"></span><br />
        <span id="lootboxCount"></span><br />
        <span id="junkCount"></span><br />
        <span id="commonCount"></span><br />
        <span id="uncommonCount"></span><br />
        <span id="rareCount"></span><br />
        <span id="superRareCount"></span><br />
        <span id="ultraRareCount"></span><br />
        <span id="uberRareCount"></span><br />

        <button class="home_button" id="open" onclick="lootbox.open(1);" style="visibility:hidden">Open a lootbox</button>
        <form>
            <input class="home_button" type="checkbox" name="auto_open_checkbox" value="auto_open_checkbox" id="auto_open_checkbox" style="visibility:hidden">
            <label for="auto_open_checkbox" style="visibility:hidden" id="auto_open_checkbox_label">Auto Open</label>
        </form>
        <br />
        <br />
        <button class="home_button" id="business" onclick="business.buy();" style="visibility:hidden"></button>
        <span id="businessblurb" style="visibility:hidden"></span>
        <br />
        <button class="home_button" id="pirate" onclick="pirate.buy();" style="visibility:hidden"></button>
        <span id="pirateblurb" style="visibility:hidden"></span>
        <br />
        <button class="home_button" id="cow" onclick="cow.buy();" style="visibility:hidden"></button>
        <span id="cowblurb" style="visibility:hidden"></span>
        <br />
        <button class="home_button" id="farm" onclick="farm.buy();" style="visibility:hidden"></button>
        <span id="farmblurb" style="visibility:hidden"></span>
        <br />
        <button class="home_button" id="marketer" onclick="marketer.buy();" style="visibility:hidden"></button>
        <span id="marketerblurb" style="visibility:hidden"></span>
        <br />
        <button class="home_button" id="eldergod" onclick="eldergod.buy();" style="visibility:hidden"></button>
        <span id="eldergodblurb" style="visibility:hidden"></span>
        <div id="adventureAvailable" style="visibility:hidden">
            <p>Go on an adventure? Cost: 1 uber rare.</p>
            <select id="adventureoptions">
            </select>
            <button class="home_button" id="adventurebutton" onclick="adventureStart();" style="visibility:show">Go</button>
            <p>How to play:
                WASD to move.<br>
                1-6 to fire projectiles at enemies (color-coded with increasing damage based on difficulty). Projectiles fire towards your cursor.<br>
                1 - Free. Weak damage.<br>
                2 - Costs 1000 commons to fire. Slightly better damage. <br>
                3 - Costs 1000 uncommons to fire. Still slightly better damage.<br>
                4 - Costs 1000 rares to fire. Noticing a trend here? Try to guess whether or not it's better than 3.<br>
                5 - Costs 1000 super rares to fire and one-shots enemies. Guess what comes next?<br>
                6 - Costs 1000 ultra rares to fire. Surprised you with that one, didn't I? Don't shoot this one, though. It heals enemies.<br>
                Kill enemies and reach the end (the blue box) without dying for a reward.<br>
                
                Get to the blue box to win.
            </p>
        </div>
    </div>


    <div class="home_button" id="adventure_canvas"></div>
    {% if user.loadSave == "nosave" %}
        <div style="visibility: hidden;" id="gameLoad"></div>
    {% else %}
        <div style="visibility: hidden;" id="gameLoad">{{ user.loadSave }}</div>
        <script>lootbox.load("{{ user.loadSave }}")</script>
    {% endif %}
</body>

</html>
