<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="Site.css">
    <title>Home</title>
</head>
<body>
<div id = "mainlogo" class = "logo fadeIn"></div>
    <span><a href="./"><button class="buttonHome">Home</button></a></span>
    <span><a href="./game"><button class="buttonGame">Game</button></a></span>
    <span><a href="./about"><button class="buttonAbout">About</button></a></span>
    <span><a href="./news"><button class="buttonNews">News</button></a></span>
    <span><a href="./team"><button class="buttonTeam">Team</button></a></span>
    <span><a href="./messageboard"><button class="buttonMesBoar">Message Board</button></a></span>
    <span><a href="./swag"><button class="buttonSwag">Swag</button></a></span>
<div id = "block" class = "split"></div>
<hr style="border: 2px solid#52b270;" />  
<div id = "block" class = "split"></div>
{% if not user %}
{% if typeForm == "login" or not typeForm %}
<form method="POST" action="/login">
    <h5 style="color: red">{{ loginError }}</h5>
    <input type="text" placeholder="username" name="username" /><br>
    <input type="password" placeholder="password" name="password" /><br>
    <input type="submit" value="login" />
</form>
<a href="/register">Register</a>
{% endif %}
{% if typeForm == "register" %}
<form method="POST" action="/register">
    <h5 style="color: red">{{ registerError }}</h5>
    <input type="email" placeholder="email" name="email" /><br>
    <input type="text" placeholder="username" name="username" /><br>
    <input type="password" placeholder="password" name="password" /><br>
    <input type="submit" value="register" />
</form>
{% endif %}
{% else %} 
<a href="/logout">Log out</a>
{% endif %}
</body>
</html>
